.error{
  color:red;
  width:180px;
}

body{
  text-align: -webkit-center;
}

.year{
  width:26%;
}

select.date{

}

input{
  border-radius: 10px;
  font-weight: bold;
  padding: 3px;
  margin: 5px;
}

select{
  border-radius: 10px;
  font-weight: bold;
  opacity: 0.5;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input.check_btn{
  margin-top: 15px;
}

td{
  table-layout:fixed;
}

table{
  width:600px;
}

.td_2{
  width: 10%;
}

.td_3{
  width: 250px;
  color:red;
}

.required{
  color:red;
}

.a{
  margin-top: 15px;
  margin-bottom: 15px;
}
